
:root {
    --primary-color: #BA90DA;
    --btn-bg: var(--primary-color);
    --btn-bg-hover: var(--primary-color-dark);
  }


  

.portada{
    position: relative;
    margin-bottom: 50px;

    &__info{
        display: none;
        position: absolute;
        width: 80%;
        margin: auto;
    }

    &__btn{
        background-color: var(--btn-bg);
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 12px;
        font-size: 1rem;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        margin-top: 20px;

        & i{
            font-size: 1.5rem;
        }

        &:hover{
            background-color: var(--primary-color-light);
            color: white;
        }
    }

    .añadir{
        border-radius: 60%;
    }
}

.detalles{
    width: 80%;
    margin: auto;

    &__selector{
        margin-bottom: 50px;
    }

    a{
        text-decoration: none;
        color: white !important;
    }
    
}

.nav-link.active{
    background-color: #BA90DA !important;
}


.detalles__descripcion{
    grid-area: descripcion;
}

.detalles__info{
    grid-area: info;

    img{
        width: 8%;
    }
}

.info{
    display: flex;
}

.parte2{
    width: 70%;
}







.trailer{
    width: 80%;
    margin: auto;

    &__img{
        grid-area: trailer__img;
        width: 50%;
        
        & video{
            width: 100%;
        }
    }

    &__descripcion{
        grid-area: trailer__descripcion;
    }
}


@media (min-width: 390px) { }


@media (min-width: 992px) { 

    .portada{
        position: relative;

        &__info{
            width: 50%;
            top: 20%;
            left: 5%;
            position: absolute;
            display: block;
        }

        &__descripcion{
            margin-top: 50px;
        }

        &__img{
            width: 100%;
        }

        &__fondo{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: linear-gradient(180deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.041));
        }

    }

    .añadir{
        border-radius: 60%;
    }

    .info__logo{
        margin-bottom: 50px;
    }

    .info__compose{
        display: flex;
        width: 20%;
    }
  
    #contenido-detalles{
        display: grid ;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "descripcion info"
        ;
    }







    .trailer{
        gap: 70px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "trailer__img trailer__descripcion"
        ;

    }



}

















