header {
  padding: 10px 0 !important;
  background-color: #141414 !important;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.container-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.logo img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.nav {
  display: grid;
  grid-template-columns: repeat(4, auto) auto;
  gap: 20px;
  align-items: center;
}

.nav.active {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: #1e1e1e;
  padding: 20px 0;
}

.nav-link {
  font-size: 1rem;
  color: var(--text-on-primary);
  font-weight: 500;
  position: relative;
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--primary-color-light);
}

.dropdown {
  position: relative;
}

.dropdown-toggle::after {
  content: '▼';
  font-size: 0.8rem;
  margin-left: 5px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #2e2e2e;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  padding: 10px 15px;
  color: var(--text-on-primary);
  display: block;
  font-size: 0.9rem;
  transition: background 0.3s;
}

.dropdown-item:hover {
  background-color: var(--primary-color-dark);
}

.LoginContainer a {
  color: #d94dfc;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

.LoginContainer a.registrarse:hover,
.LoginContainer a.login:hover {
  background-color: #d94dfc;
  color: #fff;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 30px;
  cursor: pointer;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #2e2e2e;
  gap: 10px;
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  z-index: 999;
}

.search-input {
  width: 100%;
  max-width: 600px;
  padding: 10px 15px;
  border-radius: 15px;
  border: 1px solid #444;
  font-size: 1rem;
  color: var(--text-on-primary);
  background-color: #747474;
  outline: none;
  transition: border-color 0.3s;
}

.search-input::placeholder {
  color: #000;
}

.search-input:focus {
  border-color: var(--primary-color-light);
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background-color: var(--primary-color);
  color: var(--btn-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: var(--primary-color-dark);
}

.search-button i {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  header .hamburger {
    display: flex;
  }

  .nav {
    display: none;
  }

  .nav.active {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #1e1e1e;
    padding: 20px 0;
    z-index: 9999;
  }

  .search-bar {
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    top: 60px;
  }

  .search-input {
    display: none;
  }

  .search-button {
    margin-left: auto;
    margin-top: 10px;
  }
}

@media (min-width: 769px) {
  .search-input {
    display: block;
    flex-grow: 1;
  }

  .search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--btn-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }

  .search-button:hover {
    background-color: var(--primary-color-dark);
  }

  .search-button i {
    font-size: 1.2rem;
  }
}
